
.icon-chart-pie:before { content: '\e800'; } /* '' */
.icon-chart:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
